# eclipse specific git ignore
*.pydevproject
.project

.metadata
.metadata/
.metadata/**
!.metadata/**
!.metadata/**/*
.recommenders
.recommenders/
.recommenders/**
!.recommenders/**
!.recommenders/**/*
.settings
.settings/
.settings/**
!.settings/**
!.settings/**/*

RemoteSystemsTempFiles
RemoteSystemsTempFiles/
RemoteSystemsTempFiles/**
!RemoteSystemsTempFiles/**
!RemoteSystemsTempFiles/**/*

Servers
Servers/
Servers/**
!Servers/**
!Servers/**/*

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.loadpath

# unwanted folders -----
/out/
*/target/**
/Servers/*
?RemoteSystemsTempFiles/*
*.iml

# modules.xml
# .idea/misc.xml
*.ipr

#==Sonarlint plugin==
.idea/sonarlint

#==Java==
# Compiled class file
*.class

#==Log file==
*.log

#==Package Files==
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.project
